from pathlib import Path
from pdm.backend.hooks.base import Context
from pybind11.setup_helpers import Pybind11Extension, ParallelCompile, build_ext

ParallelCompile("NPY_NUM_BUILD_JOBS").install()

package_root = Path("src/cpp")
sources = [str(f) for f in package_root.rglob("*.cpp")] + [
    str(f) for f in package_root.rglob("*.c")
]

headers = list(
    set(
        [str(f.parent) for f in package_root.rglob("*.hpp")]
        +[str(f.parent.parent) for f in package_root.rglob("*.hpp")]
        + [str(f.parent) for f in package_root.rglob("*.h")]
        + [str(f.parent.parent) for f in package_root.rglob("*.h")]
    )
)


def pdm_build_update_setup_kwargs(context: Context, setup_kwargs: dict):
    if context.target != "sdist":
        module = Pybind11Extension(
            "{{python_package_import_name}}.hello",
            sources=sources,
            include_dirs=headers
        )
        setup_kwargs.update(
            setup_requires=["nuitka", "pybind11"],
            build_with_nuitka=True,
            ext_modules=[module],
        )
